<div class="col-md-6 col-md-offset-3">
  <%= form_for([@user], :html => {:class => "form"}) do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    
    <div class="form-group">
      <%= f.label :username%>
      <%= f.text_field :username, :class => "form-control", :placeholder => "Username"%>
    </div>

    <div class="form-group">
      <%= f.label :first_name%>
      <%= f.text_field :first_name, :class => "form-control", :placeholder => "First name"%>
    </div>

    <div class="form-group">
      <%= f.label :last_name%>
      <%= f.text_field :last_name, :class => "form-control", :placeholder => "Last name"%>
    </div>

    
    <div class="form-group">
      <%= f.label :email%>
      <%= f.text_field :email, :class => "form-control", :placeholder => "Email"%>
    </div>
    
    <div class="form-group">
      <%= f.label :Role %>
      <%= f.collection_check_boxes :role_ids, Role.all, :id, :name, {}, {class: :"checkbox"} %>
    </div>

    
    <% if !current_user.nil? && current_user.roles.exists?(:name => "Advisor") %>
      <div id="dept-option" class="form-group">
    <% else %>
        <div id="dept-option" class="form-group" style="display: none;">
    <% end %>
      <%= f.label :department %>
      <%= f.collection_select :department_id, Department.all, :id, :name, {}, {:class => "form-control"} %>
    </div>
    

    <%= f.submit "Submit", :class => "btn btn-default" %>
    <%#= link_to "Delete", transaction_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger pull-right" %>        
  <% end %>

</div>

<script type="text/javascript">
 $(document).ready(function(){
     $("#user_role_ids_1").click(function() {
         $("#dept-option").toggle();
     });
 }); 
</script>
