<%#= render 'form' %>

<!-- Need to figure out the structure of this page and how
     we should lay this out-->
<div class="col-md-6 col-md-offset-3">
  <div style="margin-top: 10px">
    <%= link_to "Sign in with CAS", new_user_session_path(@user), :class => "btn btn-success" %>
  </div>
</div>
