/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
    background-color: #C10037;
}

.navbar a {
    color: #FFF;
}

.navbar-brand:hover{
    color: #f3f3f3;
}

.btn-default {
    /*background-color: #5e5d60;*/
    background-color: #a4a3a7;
    color: #FFF;
}

.btn-default:hover{
    background-color: #5e5d60;
    color: #FFF;
}

.btn-primary {
    background-color: #5e5d60;
}